* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: url(../images/_bkg.jpg) center top #F9F5F2;
    color: #404041;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    padding: 0 10%;
}


/* Header */

header {
    background: url(../images/_divide.png) center 62px repeat-x, url(../images/_divide.png) center bottom repeat-x;
    padding: 25px 0 4px 0;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 255px;
}

.select {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-bottom: 15px;
}

.select select {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #e6e6e6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover~.select__arrow,
.select select:focus~.select__arrow {
    border-top-color: #000;
}

.select select:disabled~.select__arrow {
    border-top-color: #ccc;
}



.new-deal {
    width: 100%;
    float: left;
    padding: 15px 0;
}

.new-deal .item-slide {
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    margin: 15px 0;
}

.new-deal .slide-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.new-deal .item-slide:hover .slide-hover {
    left: 0px;
}

.new-deal img {
    max-width: 100%;
    height: 264px;
}

.text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.text-wrap h4 {
    padding: 0 5px;
}

.box-img {
    width: 100%;
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.text-wrap .desc {
    width: 50%;
    float: left;
    padding: 0 5px;
}

.text-wrap p {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px 3px #000;
}

.text-wrap .desc h4 {
    margin: 0px;
    font: 400 17px/21px "Roboto";
}

.text-wrap .desc h3 {
    margin: 0px;
    font: 400 32px/36px "Roboto";
}

.new-deal .item-slide:hover .text-wrap {
    background: none
}

.view-now-c {
    float: right;
    padding: 10px;
}

.view-now-c a {
    background: #029a8b;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 0px;
    float: left;
    min-width: 101px;
    text-align: center;
    font-size: 16px;
}

.new-deal .item-slide:hover .box-img .text-wrap {
    bottom: -100%;
}